<?xml version="1.0"?>
<config>
    <modules>
        <Jordanshopper_Seller>
            <version>1.0.2</version>
        </Jordanshopper_Seller>
    </modules>
    <frontend>
        <routers>
            <seller>
                <use>standard</use>
                <args>
                    <module>Jordanshopper_Seller</module>
                    <frontName>seller</frontName>
                </args>
            </seller>
        </routers>
        <layout>
            <updates>
                <seller>
                    <file>seller.xml</file>
                </seller>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <seller>
                <class>Jordanshopper_Seller_Block</class>
            </seller>
        </blocks>
        <models>
            <seller>
                <class>Jordanshopper_Seller_Model</class>
                <resourceModel>Jordanshopper_Seller_Model_Resource</resourceModel>
            </seller>
            <seller_resource>
                <class>Jordanshopper_Seller_Model_Resource</class>
                <entities>
                    <seller>
                        <table>jordanshopper_seller</table>
                    </seller>
                </entities>
            </seller_resource>
        </models>
        <resources>
            <seller_setup>
                <setup>
                    <module>Jordanshopper_Seller</module>
                    <class>Jordanshopper_Seller_Model_Resource_Setup</class>
                </setup>
            </seller_setup>
        </resources>
    </global>
</config>