<?xml version="1.0"?>
<config>
	<modules>
		<Jordanshopper_Seller>
			<version>1.0.6</version>
		</Jordanshopper_Seller>
	</modules>
	<frontend>
		<routers>
			<seller>
				<use>standard</use>
				<args>
					<module>Jordanshopper_Seller</module>
					<frontName>seller</frontName>
				</args>
			</seller>
		</routers>
	</frontend>
	<global>
		<blocks>
			<seller>
				<class>Jordanshopper_Seller_Block</class>
			</seller>
			<adminhtml>
				<rewrite>
					<catalog_product_grid>Jordanshopper_Seller_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
					<customer_edit_tabs>Jordanshopper_Seller_Block_Adminhtml_Customer_Edit_Tabs</customer_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
		<models>
			<seller>
				<class>Jordanshopper_Seller_Model</class>
				<resourceModel>seller_mysql4</resourceModel>
			</seller>
			<seller_mysql4>
				<class>Jordanshopper_Seller_Model_mysql4</class>
				<entities>
					<seller>
						<table>jordanshopper_seller</table>
					</seller>
				</entities>
			</seller_mysql4>
		</models>
		<resources>
			<seller_setup>
				<setup>
					<module>Jordanshopper_Seller</module>
					<class>Jordanshopper_Seller_Model_Resource_Eav_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</seller_setup>
			<seller_write>
				<connection>
					<use>core_write</use>
				</connection>
			</seller_write>
			<seller_read>
				<connection>
					<use>core_read</use>
				</connection>
			</seller_read>
		</resources>
		<helpers>
			<jordanshopper_seller>
				<class>Jordanshopper_Seller_Helper</class>
			</jordanshopper_seller>
		</helpers>
	</global>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<jordanshopper_seller before="Mage_Adminhtml">Jordanshopper_Seller_Adminhtml</jordanshopper_seller>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<default>
		<payment>
			<seller>
				<active>1</active>
				<model>seller/payment</model>
				<order_status>pending_payment</order_status>
				<title>Seller Payment</title>
				<allowspecific>0</allowspecific>
				<allowspecific>0</allowspecific>
			</seller>
		</payment>
	</default>
</config>